__pycache__/
*.py[cod]
*.egg-info
/dist
/*.png
/*.mp4
.DS_Store

.venv/

# Planner results
planner_results/
planner_results_260419/

# Plots
plots/**/*.png

# Profiling
analysis/

# Miscellaneous
run_gui.log
